@import url('../../styles/nullstyle.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
  background-image: url(../../images/background.jpg);
  font-family: Open-sans, sans-serif;
  }
.wrapper {
    max-width: 90%;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #fff4e2ee;    
  }
.caption-border {
  width: 400px;
  margin: 50px ;
  border: 5px solid #b88e1b;
  background: rgb(255, 231, 200);
  padding: 10px;
}