@import url('../../styles/nullstyle.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    background-image: url(../../images/background.jpg);
    font-family: Open-sans;
}
.content{
    background-color: rgba(252, 230, 218, 56%);
    margin: 5% 10% 3% ;
}
.content__wrapper{
    padding: 5%;
}
label{
  color: #1a1513;
  font-family: 'Impact', fantasy;
  font-size: 25pt;
  margin-left: 7%;
}
.content__wrapper p {
	padding: 10px 25px 30px;
	color: #1a1513;
    font-size: 16pt;
    line-height: 25pt;
}