@import url('../../styles/nullstyle.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
body{
    background-image: url(../../images/background.jpg);
    background-attachment: fixed;
    font-family: Open-sans, sans-serif;
}
.content{
    background-color: rgba(252, 230, 218, 56%);
    margin: 5% 10% 3% ;
}
.content_wrapper{
    padding: 2%;
}
.content_title{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 2%;
	padding-top: 1%;
    padding-left: 1%;
}

.panel_wrapper{
    background-color: rgba(255,255,255,50%);
    border-radius: 5px;
    margin: 1%;
}
.panel {
    /*padding: 18px;*/
	padding: 2%;
  	color: #212121;

}
.p1{
    font-size: 16px;
    font-weight: 700;
}
.p2{
    margin-bottom: 0;
}
th {
    font-size: 13px;
    font-weight: normal;
    border-top: 4px solid #BDB76B;
    border-bottom: 1px solid white;
    padding: 8px;
}

td {
    background: rgba(176, 140, 99, 0.8);
    color: #669;
    padding: 8px;
}