@import url('../../styles/nullstyle.css');
body {
    font-size: 15pt;
    /* Размер основного шрифта в пунктах  */
    background-color: #42372b;
    /* Цвет фона веб-страницы */
    background-image: url(../../images/background.jpg);
    font-family: Open-sans;
    -webkit-background-size: 100%;
    color: #333;
    /* Цвет основного текста */
}
.content{
    background-color: rgba(252, 230, 218, 0.733);
    margin: 5% 10% 3% ;
}

.tbl div {
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(252, 230, 218, 0.733);
}

.tbl table {
    margin-left: 10%;
}

.tbl th {
    font-size: 13px;
    font-weight: normal;
    border-top: 4px solid #BDB76B;
    border-bottom: 1px solid white;
    color: #039;
    padding: 8px;
}

.tbl td {
    color: #669;
    padding: 16px;
    background-color: rgba(252, 230, 218, 0.733);
}

.tbl a {
    color: #1a1513;
    text-decoration: none;
    font-weight: bold;
}

.tbl p {
    text-align: center;
}

.tbl label {
    color: rgba(252, 230, 218, 0.925);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: 'Impact', fantasy;
    font-size: 45pt;
    margin-left: 15%;
}
